@use './vars' as *;
@use './mix' as *;
nav {
  display: none;
  @media (min-width: $media-tab) {
    @include flex(null, center, 20px);
    .nav-links {
      @include flex(center, center, 20px);
      li  {
        cursor: pointer;
        .link {
          color: $link-color;
          text-transform: capitalize;
          font-weight: 500;
          transition: $main-transition;
          &:hover {
            color: $link-color-hover;
          }
          &.active {
            color: $link-color-hover;
          }
        }
      }
    }
    .nav-btn {
      cursor: pointer;
      color: $btn-sec-color;
      padding: 12px 20px;
      color: $btn-sec-color;
      background-color: $btn-primery-color;
      border: 2px solid $btn-primery-color;
      transition: $main-transition;
      font-weight: 500;
      &:hover {
        background-color: transparent;
        color: $btn-primery-color;
      }
    }
  }
}