$font: 'Open Sans', sans-serif;
$font-sec: 'Quicksand', sans-serif;

$primery-color: #a82d49;

$heading-primer-color: #43121d;
$heading-color-sec: #a82d49;

$bg-primery-color: #a82d49;
$bg-sec-color: #fff;

$link-color: rgb(168, 45, 73);
$link-color-hover: rgb(129 33 54);


$paragraph-primery-color: #555;
$paragraph-sec: #111;


$border-primery-color: #a82d49;
$border-sec-color: #a82d49;

$btn-primery-color: #a82d49;
$btn-sec-color: #ffffff;

$border-primer-size: 10px;


$sideMenuColor: #dddddd;

$white: #fff;

$main-transition: 0.3s;

$header-h: 6rem;
$icon-m: 0.3rem;
$padding-m: 15px;

$media-mob: 480px;
$media-tab: 768px;
$media-screen-1: 992px;